:root {
    --gris: #343134;
    --blanco: #EDE9E0;
    --turquesaOscuro: #54A0A8;
    --turquesaMedio: #73B6B9;
    --turquesaClaro: #B4DDD2;
    --fuente: 'Roboto Mono', monospace;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente);
    font-size: 2rem;
    line-height: 2;
    margin: 0;
    background-color: #B4DDD2;
}

/** Globales **/
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuente);
    line-height: 1.2;
    margin: 0;
}

img {
    max-width: 100%;
}

.header {
    background-color: var(--gris);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    color: var(--blanco);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-link {
    background-color: #54A0A8;
    padding: .5rem 2rem;
    border-radius: 1rem;
    color: var(--blanco);
}

.nav-link:hover {
    background-color: var(--turquesaClaro);
    color: var(--gris);
}

.nav-link:nth-child(4) {
    background-color: var(--turquesaClaro);
    color: #343134;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabla {

    background-color: #343134;
    padding: 4rem;
    vertical-align: bottom;
    color: var(--blanco);
    border: 1rem solid white;
    margin: 10rem 0 5rem 0;
    box-shadow: 0rem .5rem .5rem rgb(0 0 0 / .5);
    border-radius: 2rem;
}

.tabla td {
    padding: 2rem;
}


