:root {
    --gris: #343134;
    --blanco: #EDE9E0;
    --turquesaOscuro: #54A0A8;
    --turquesaMedio: #73B6B9;
    --turquesaClaro: #B4DDD2;
    --fuente: 'Roboto Mono', monospace;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente);
    font-size: 2rem;
    line-height: 2;
    margin: 0;
    background-color: #B4DDD2;
}

/** Globales **/
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuente);
    line-height: 1.2;
    margin: 0;
}

img {
    max-width: 100%;
}

.header {
    background-color: var(--gris);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    color: var(--blanco);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-link {
    background-color: #54A0A8;
    padding: .5rem 2rem;
    border-radius: 1rem;
    color: var(--blanco);
}

.nav-link:hover {
    background-color: var(--turquesaClaro);
    color: var(--gris);
}

.nav-link:nth-child(3) {
    background-color: var(--turquesaClaro);
    color: #343134;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.pelicula {
    height: 100rem;
}

.sinopsis {
    background-color: #54A0A8;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: bold;
    text-align: justify;
}

.prisoners {
    background: url(../IMG/Prisoners.jpg) no-repeat center center;
    background-size: cover;
}

.anabelle-2 {
    background: url(../IMG/Anabelle2.jpg) no-repeat center center;
    background-size: cover;
    grid-area: 2 / 2 / 3 / 3;
}

.sherlock-holmes {
    background: url(../IMG/sherlock.jpg) no-repeat center center;
    background-size: cover;
}

.conjuro-2 {
    background: url(../IMG/conjuro-2.jpg) no-repeat center center;
    background-size: cover;
    grid-area: 4 / 2 / 5 / 3;
}

.no-respires {
    background: url(../IMG/no-respires.jpg) no-repeat center center;
    background-size: cover;
}